In [29]:
import pandas as pd

In [30]:
df=pd.read_csv('All_Team_stats.csv')

In [31]:
df

,TEAM_1,TEAM_2,NO_OF_MATCHES,TEAM_1_WIN_COUNT,TEAM_2_WIN_COUNT,TEAM_1_OVERTIME_WINS,TEAM_2_OVERTIME_WINS,AVG_TEAM_1_PENALTIES,AVG_TEAM_2_PENALTIES,TEAM_1_PLAYOFF_WINS,TEAM_2_PLAYOFF_WINS,TEAM_1_AVG_GOALS_PER_MATCH,TEAM_2_AVG_GOALS_PER_MATCH,TEAM_1_AVG_GOAL_PERCENTAGE,TEAM_2_AVG_GOAL_PERCENTAGE
0,BOS,COL,22,9,13,1,2,4.227273,3.818182,0,0,2.681818,2.590909,0.089139,0.091621
1,NSH,TOR,22,12,10,3,0,3.545455,3.045455,0,0,2.818182,2.636364,0.096197,0.091328
2,CGY,DET,37,20,17,3,3,4.216216,3.891892,0,0,3.162162,2.891892,0.113112,0.096304
3,MTL,NYI,41,25,16,3,5,4.097561,3.536585,0,0,3.195122,2.487805,0.106091,0.086486
4,ANA,L.A,72,37,35,9,8,4.638889,4.236111,3,4,2.555556,2.541667,0.098875,0.090114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,FLA,LAK,4,0,4,0,1,4.000000,3.750000,0,0,2.500000,3.750000,0.063518,0.108126
639,CHI,LAK,5,1,4,1,1,3.000000,3.400000,0,0,1.400000,2.800000,0.070329,0.082304
640,LAK,MTL,4,4,0,1,0,3.250000,4.500000,0,0,3.750000,2.000000,0.106252,0.078680
641,OTT,SEA,4,2,2,1,0,2.250000,3.000000,0,0,3.750000,4.750000,0.156552,0.170846
642,MIN,TBL,4,2,2,0,1,4.750000,4.250000,0,0,3.750000,2.750000,0.110441,0.091117

In [32]:
ratings=pd.read_csv('Ratings.csv')

In [33]:
ratings=pd.read_csv('Ratings.csv')
ratings['HOME_TEAM']=ratings['HOME_TEAM'].str.replace('.', '',regex=False)
ratings.set_index('HOME_TEAM',inplace=True)
ratings.loc['FLA']

Unnamed: 0          0.00000
HOME_TEAM_INDEX     0.00000
Rating             85.29458
Name: FLA, dtype: float64

In [34]:
df['TEAM_1']=df['TEAM_1'].str.replace('.', '',regex=False)
df['TEAM_2']=df['TEAM_2'].str.replace('.', '',regex=False)

In [35]:
def rater(x):
    return ratings.loc[x]['Rating']
def win_predictor(x):
    c=x['H_Rating']-x['A_Rating']+ratings.loc['HT_ADV']['Rating']
    if c>0:
        return 'Yes'
    else:
        return 'No'
df['H_Rating']=df['TEAM_1'].apply(rater)
df['A_Rating']=df['TEAM_2'].apply(rater)
df['P_Win']=df.apply(win_predictor,axis=1)

In [36]:
df

,TEAM_1,TEAM_2,NO_OF_MATCHES,TEAM_1_WIN_COUNT,TEAM_2_WIN_COUNT,TEAM_1_OVERTIME_WINS,TEAM_2_OVERTIME_WINS,AVG_TEAM_1_PENALTIES,AVG_TEAM_2_PENALTIES,TEAM_1_PLAYOFF_WINS,TEAM_2_PLAYOFF_WINS,TEAM_1_AVG_GOALS_PER_MATCH,TEAM_2_AVG_GOALS_PER_MATCH,TEAM_1_AVG_GOAL_PERCENTAGE,TEAM_2_AVG_GOAL_PERCENTAGE,H_Rating,A_Rating,P_Win
0,BOS,COL,22,9,13,1,2,4.227273,3.818182,0,0,2.681818,2.590909,0.089139,0.091621,86.499979,85.671940,Yes
1,NSH,TOR,22,12,10,3,0,3.545455,3.045455,0,0,2.818182,2.636364,0.096197,0.091328,84.828324,85.581244,No
2,CGY,DET,37,20,17,3,3,4.216216,3.891892,0,0,3.162162,2.891892,0.113112,0.096304,85.024683,84.542698,Yes
3,MTL,NYI,41,25,16,3,5,4.097561,3.536585,0,0,3.195122,2.487805,0.106091,0.086486,84.123871,85.325243,No
4,ANA,LA,72,37,35,9,8,4.638889,4.236111,3,4,2.555556,2.541667,0.098875,0.090114,83.351715,84.994862,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,FLA,LAK,4,0,4,0,1,4.000000,3.750000,0,0,2.500000,3.750000,0.063518,0.108126,85.294580,85.226687,Yes
639,CHI,LAK,5,1,4,1,1,3.000000,3.400000,0,0,1.400000,2.800000,0.070329,0.082304,83.784922,85.226687,No
640,LAK,MTL,4,4,0,1,0,3.250000,4.500000,0,0,3.750000,2.000000,0.106252,0.078680,85.226687,84.123871,Yes
641,OTT,SEA,4,2,2,1,0,2.250000,3.000000,0,0,3.750000,4.750000,0.156552,0.170846,84.905254,85.434408,No
642,MIN,TBL,4,2,2,0,1,4.750000,4.250000,0,0,3.750000,2.750000,0.110441,0.091117,85.181513,85.320301,Yes

CREATE (n:Node {id:1});

MATCH (n:Node)
DELETE n;

(lebron)-[:PLAYS_FOR {salary: 40000000}]-> (lakers),

In [37]:
teams=df['TEAM_1'].append(df['TEAM_2'], ignore_index=True).drop_duplicates()

/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36592/3550473198.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams=df['TEAM_1'].append(df['TEAM_2'], ignore_index=True).drop_duplicates()

In [38]:
def write_series_to_file():
    with open('series.txt', 'w') as file:
        file.write('match (n) detach delete n;'+'\n')
        file.write('CREATE'+'\n')
        for element in teams:
            file.write('('+str(element)+':TEAM{name:"'+str(element) +'"}),'+ '\n')
        for index, row in df.iterrows():
            file.write('('+str(row['TEAM_1'])+')-[:VS {Matches: '+str(row['NO_OF_MATCHES'])+',Wins: '+str(row['TEAM_1_WIN_COUNT'])+',Losses: '+str(row['TEAM_2_WIN_COUNT'])+',OT_Wins: '+str(row['TEAM_1_OVERTIME_WINS'])+',OT_Losses: '+str(row['TEAM_2_OVERTIME_WINS'])+',Playoff_Wins: '+str(row['TEAM_1_PLAYOFF_WINS'])+',Playoff_Losses: '+str(row['TEAM_2_PLAYOFF_WINS'])+',Avg_Goals_Scored: '+str(row['TEAM_1_AVG_GOALS_PER_MATCH'])+',Avg_Goals_Taken: '+str(row['TEAM_2_AVG_GOALS_PER_MATCH'])+',Our Rating: '+str(row['H_Rating'])+',Opponent Rating: '+str(row['A_Rating'])+',Predicted to Win: '+str(row['P_Win'])+'}]->('+str(row['TEAM_2'])+'),'+'\n')
        file.write(';')

In [39]:
write_series_to_file()
with open('series.txt', 'r') as file:
    content = file.read()

# Truncate the file and write modified content (excluding the last character)
with open('series.txt', 'w') as file:
    file.write(content[:-3]+';')